/* header */
.header {
    padding: 15px 30px;
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    grid-template-areas: 
        'search-bar notifications'
        'user-welcome project-menu';
    gap: 15px;
}

.search-bar {
    grid-area: search-bar;
}

.notifications {
    grid-area: notifications;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    column-gap: 15px;
    justify-content: flex-end;
}

.notifications .display-name {
    white-space: nowrap;
}

.user-welcome {
    grid-area: user-welcome;
    display: flex;
    column-gap: 15px;
    align-items: center;
}

.username {
    white-space: nowrap;
}

.project-menu {
    grid-area: project-menu;
    width: min(100%, 400px);
    margin-left: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    column-gap: 15px;
}

.project-menu button {
    background-color: rgb(62, 163, 196);
    border-radius: 20px;
    border: unset;
    padding: 0.5rem 0.8rem;
    width: 100px;
    text-align: center;
}

.user-photo-icon-large, .user-photo-icon-small {
    border-radius: 100px;
}

.user-photo-icon-large {
    width: 110px;
}

.user-photo-icon-small {
    width: 50px;
    height: 50px;
    object-fit: cover;
}

.icon {
    width: 35px;
}

#search-bar-input {
    width: calc(100% - 50px);
    box-sizing: border-box;
}

.search-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* main */
.main {
    display: grid;
    grid-template-areas: 
        'user-projects-container sidebar';
    grid-template-columns: 3fr 1fr;
}

.user-projects {
    grid-area: user-projects-container;
}

.sidebar {
    grid-area: sidebar;
}

/*main: user projects */
.user-projects {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
    grid-template-rows: repeat(auto-fit, 1fr);
    gap: 25px;
}

.user-projects-container-title {
    padding-left: 20px;
}

.project-title, .project-description {
    overflow: hidden;
}

.user-projects > div {
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.project-icons {
    margin-top: auto;
    margin-left: auto;
}

.project-description {
    margin-bottom: 20px;
    height: 150px;
}

/* main: sidebar: announcements */
.announcements {
    padding: 20px;
}

.announcements > div {
    padding-bottom: 10px;
    border-bottom: 2px solid silver;
    margin-bottom: 10px;
}

.announcements > div:last-child {
    padding-bottom: unset;
    border-bottom: unset;
    margin-bottom: unset;
}

/* main: sidebar: trending */
.trending > div {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}
