:root {
    --red: #ee011900;
    --blue:#003f9000;
    --yellow: #ffeb2d00;
    --grey: #F2F2F2;
    --white: #FFFFFF;
}
/* global */
:root, html, body {
    font-family: 'Roboto', sans-serif;
    line-height: 1.4;
    font-size: 16px;
}

.icon {
    width: 30px;
}

/* main page layout */
.page-container {
    display: grid;
    grid-template-columns: 1fr 5.6fr;
    grid-template-areas: 
        'dashboard header'
        'dashboard main';
    padding: 20px;
}

.dashboard {
    grid-area: dashboard;
}

.header {
    grid-area: header;
}

.main {
    grid-area: main;
}

/* header */
.header {
    padding: 15px 30px;
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    grid-template-areas: 
        'search-bar notifications'
        'user-welcome project-menu';
    gap: 15px;
}

.search-bar {
    grid-area: search-bar;
}

.notifications {
    grid-area: notifications;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    column-gap: 15px;
    justify-content: flex-end;
}

.notifications .display-name {
    white-space: nowrap;
}

.user-welcome {
    grid-area: user-welcome;
    display: flex;
    column-gap: 15px;
    align-items: center;
}

.username {
    white-space: nowrap;
}

.project-menu {
    grid-area: project-menu;
    width: min(100%, 400px);
    margin-left: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    column-gap: 15px;
}

.project-menu button {
    background-color: rgb(62, 163, 196);
    border-radius: 20px;
    border: unset;
    padding: 0.5rem 0.8rem;
    width: 100px;
    text-align: center;
}

.user-photo-icon-large, .user-photo-icon-small {
    border-radius: 100px;
}

.user-photo-icon-large {
    width: 110px;
}

.user-photo-icon-small {
    width: 50px;
    height: 50px;
    object-fit: cover;
}

#search-bar-input {
    width: calc(100% - 50px);
    box-sizing: border-box;
}

.search-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* main */
.main {
    display: grid;
    grid-template-areas: 
        'user-projects-container sidebar';
    grid-template-columns: 3fr 1fr;
    padding: 30px 15px;
}

.user-projects {
    grid-area: user-projects-container;
}

.sidebar {
    grid-area: sidebar;
}

/*main: user projects */
.user-projects {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
    grid-template-rows: repeat(auto-fit, 1fr);
    gap: 25px;
}

.user-projects-container-title {
    
}

.project-title, .project-description {
    overflow: hidden;
}

.user-projects > div {
    display: flex;
    flex-direction: column;
}

.project-icons {
    margin-top: auto;
    margin-left: auto;
}

.project-icons .icon {
    margin-left: 22px;
}

.project-description {
    margin-bottom: 20px;
    height: 150px;
}

/* main: sidebar: announcements */
.announcements {
    padding: 20px;
}

.announcements > div {
    padding-bottom: 10px;
    border-bottom: 2px solid silver;
    margin-bottom: 10px;
}

.announcements > div:last-child {
    padding-bottom: unset;
    border-bottom: unset;
    margin-bottom: unset;
}

/* main: sidebar: trending */
.trending > div {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

/* dashboard */
.sticky-container {
    position: sticky;
    top: 20px;
}

.dashboard-icons-1 > div, .dashboard-icons-2 > div {
    margin-bottom: 15px;
}
.dashboard-header, .dashboard-icons-1 > div, .dashboard-icons-2 > div {
    display: flex;
    align-items: center;
}

.sticky-container > div {
    margin-bottom: 40px;
}

.dashboard-logo {
    width: 45px;
    margin-right: 10px;
}

.dashboard-icons-1 .icon, .dashboard-icons-2 .icon {
    margin-left: 7.5px;
    margin-right: calc(7.5px + 10px);
}

